<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- PERMISOS DE USO DE GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- YA INCLUYE REDES MOVILES Y WIFI -->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> &lt;!&ndash; PARA EL FUSED LOCATION CLIENT &ndash;&gt;-->

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_flower"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_flower"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoutAgro"
        android:usesCleartextTraffic="true">
        <activity android:name=".SectorActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".DepDetailActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuybb1_uQuPo7K2FLVumKhDN3PWzWANac" />

        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>